{% extends 'base.html' %} {% block title %} About {% endblock title %} {% block content %}


<div class="container text-center">
    <h1 class="reactive-text-1">About</h1>
    <br>
    <div class="container text-left">
        <h3 class="reactive-text-3">Hi there reader!</h3>
        <br>
        <h5 class="reactive-text-5">My name is Tapajyoti Bose. I am a student pursuing Computer Science and Engineering at the Government College of Engineering and Ceramic Technology, Kolkata, West Bengal, India.</h5 class="reactive-text-5">
        <br>
        <h5 class="reactive-text-5">This website, Blog Tap, was made for the Software Engineering Project Competition by <a href="https://www.youtube.com/channel/UCaO6VoaYJv4kS-TQO_M-N_g/">Clément Mihailescu</a>.</h5>
        <br>
        <h5 class="reactive-text-5">Hope you enjoy this small project of mine! :)</h5>
    </div>
</div>


{% endblock content %}