{% extends 'base.html' %} {% block title %} Account {% endblock title %} {% block content %}

<div class="container">
    <div align='center'>
        <h1 class="reactive-text-1">Welcome {{current_user.username}}</h1>
        <button class="acc-pic" type="button" data-toggle="modal" data-target="#exampleModalCenter">
            <img id="profile-img" src="{{url_for('static', filename='img/profile_image/' + current_user.profile_image)}}" align='center'>
        </button>
        <p class="label-text">{{current_user.email}}</p>
        <a href="{{url_for('user.change_background')}}">
            <input class="text-normal-media-small" type="submit" value="Change Background">
        </a>
    </div>
</div>

<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.username.label(class='label-text text-normal-media-small')}}
            <br> {{form.username(placeholder='Enter your Username', class='form-control form-input-normal text-normal-media-small', style="border: none;")}}
        </div>
        <div class="form-group">
            {{form.submit(class='text-normal-media-small')}}
        </div>
    </form>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 100000;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Select Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="grid-container">
                        <input type="radio" class="grid-item" name="profile-img" id="1" value="1">
                        <label for="1">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_1.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="2" value="2">
                        <label for="2">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_2.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="3" value="3">
                        <label for="3">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_3.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="4" value="4">
                        <label for="4">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_4.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="5" value="5">
                        <label for="5">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_5.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="6" value="6">
                        <label for="6">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_6.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="7" value="7">
                        <label for="7">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_7.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="8" value="8">
                        <label for="8">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_8.png')}}">
                    </label>
                        <input type="radio" class="grid-item" name="profile-img" id="9" value="9">
                        <label for="9">
                        <img class="img-sel" src="{{url_for('static', filename='img/profile_image/profile_img_9.png')}}">
                    </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn-normal" id="profile-pic-but" value="Change Pic">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='script/script_profile_img.js')}}"></script>

{% endblock content %}