<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style/base_style.css')}}"> {% block links %} {% endblock links %}
</head>

<body style="width: 100vw; overflow-x: hidden !important; overflow-y: scroll;">
    <div id="background" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url({{url_for('static', filename='img/background_img/1.png')}});"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0; left: 0; width: 103vw; background-color: #151D33 !important; z-index: 9999;">
        <div class="container">
            <a class="navbar-brand nav-link-mod" href="{{url_for('core.index')}}">
                <h4 class="home-link">Blog Tap</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('blog_posts.create_post')}}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.account')}}">Account</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.login')}}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.register')}}">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('core.about')}}">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" type="button" name="button" data-toggle="modal" data-target="#logout_modal">Log Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-mod" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: max-content;">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-height: 200px; max-width: 90vw; overflow-y: scroll;">
                            {% if notifs %} {% for mess in notifs %} {% if mess.is_blog %}
                            <a class="dropdown-item text-break text-normal-media-small" href="{{url_for('blog_posts.blog_post', blog_post_id=mess.link_id)}}">
                                <strong class="text-muted" style="font-size: small; font-weight: 400;">{{mess.date.strftime("%d/%m/%Y")}}: </strong> {{mess.text}}
                            </a>
                            {% else %}
                            <a class="dropdown-item text-break text-normal-media-small" href="{{url_for('user.user_posts', user_id=mess.link_id)}}">
                                <strong class="text-muted" style="font-size: small; font-weight: 400;">{{mess.date.strftime("%d/%m/%Y")}}: </strong> {{mess.text}}
                            </a>
                            {% endif %} {% endfor %} {% else %}
                            <p class="dropdown-item text-normal-media-small">You Don't have any Notification</p>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for mess in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="z-index: 100000; position: fixed; top: 0; width: 100vw;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{ mess }}
    </div>
    {% endfor %}

    <div style="height: 128px;"></div>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="logout_modal" style="z-index: 100000; top: 25%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log Out</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    <a href="{{url_for('user.logout')}}">
                        <input type="submit" class="btn-danger-imp" value="Logout">
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if not current_user.is_authenticated %}
    <div id="background-img-selector" class="1"></div>
    {% else %}
    <div id="background-img-selector" class="{{current_user.background}}"></div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script/background_pic.js')}}"></script>
    {% block scripts %} {% endblock scripts %}
</body>

</html>