<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style/base_style.css')}}">
</head>

<body style="width: 100vw; overflow-x: hidden; overflow-y: scroll;">
    <div class="background" style="height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; z-index: -10; background-image: url({{url_for('static', filename='img/background.png')}});"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0; left: 0; width: 100vw; background-color: #151D33 !important; z-index: 9999;">
        <div class="container">
            <a class="navbar-brand nav-link-mod" href="{{url_for('core.index')}}">
                <h4 class="home-link">Blog Tap</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('core.about')}}">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-mod" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Notifications
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-height: 200px; overflow-y: scroll;">
                            {% if notifs %} {% for mess in notifs %}
                            <a class="dropdown-item" href="#">{{mess.text}}</a> {% endfor %} {% else %}
                            <p class="dropdown-item">You Don't have any Notification</p>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.account')}}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('blog_posts.create_post')}}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.logout')}}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.login')}}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-mod" href="{{url_for('user.register')}}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for mess in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="z-index: 100000; position: fixed; top: 0; width: 100vw;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> {{ mess }}
    </div>
    {% endfor %}

    <div style="height: 128px;"></div>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>