{% extends 'base.html' %} {% block title %} {{post.title}} {% endblock title %} {% block content %}

<div class="container">
    <div class="img-post" style="background-image: url({{url_for('static', filename='img/blog_background/'+post.category+'.jpg')}});"></div>
    <div style="position: relative; top: -2rem;">
        <h1 class="reactive-text-1">Title: {{post.title}}</h1>
        <h3 class="reactive-text-3">Author: <a href="{{url_for('user.user_posts', user_id=post.author.id)}}">{{post.author.username}}</a></h3>
        <h5 class="text-muted reactive-text-5">Published: {{post.date.strftime("%d %B %Y")}}</h5>
        <h5 class="text-muted reactive-text-5">Category: {{post.category}}</h5>
        <h5 class="reactive-text-5">Views: {{post.views}}</h5>
        {% if post.author == current_user or not current_user.is_authenticated %}
        <h5 class="reactive-text-5"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>: {{like_count}}</h5>
        <h5 class="reactive-text-5"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>: {{dislike_count}}</h5>
        {% endif %}
        <br> {{post.text|markdown}} {% if post.author == current_user %}
        <br>
        <a href="{{url_for('blog_posts.update', blog_post_id=post.id)}}"> <button class="btn-normal">Edit</button></a>
        <button type="button" name="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button> {% else %} {% if current_user.is_authenticated %}

        <br><br>
        <h5 class="reactive-text-5">Did You Like The Blog?</h5>
        <a href="{{url_for('blog_posts.like', user_id=current_user.id, blog_post_id=post.id, like=1)}}" class="thumbs-up reactive-text-5" style="margin-right: 12px; margin-top: 12px; text-decoration: none;">
            {% if like_val %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>    
            <span style="color: #151D33; transform: scale(1);">{{like_count}}</span>         
            {% else %}
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>   
            <span style="color: #151D33; transform: scale(1);">{{like_count}}</span>          
            {% endif %}
        </a>
        <a href="{{url_for('blog_posts.like', user_id=current_user.id, blog_post_id=post.id, like=0)}}" class="thumbs-up reactive-text-5" style="margin-right: 12px; margin-top: 12px; text-decoration: none;">
            {% if like_val == False %}
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>  
            <span style="color: #151D33; transform: scale(1);">{{dislike_count}}</span>      
            {% else %}
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
            <span style="color: #151D33; transform: scale(1);">{{dislike_count}}</span> 
            {% endif %}
        </a> {% endif %} {% endif %}

        <div class="container" style="background: rgba(0, 0, 0, 0.25); margin-top: 12px;">
            <br>
            <h4 class="reactive-text-3">Comments:</h4>
            <div style="width: 100%; height: 0.25px; background-color: #151D33;"></div>
            {% if previous_comments %} {% for comment in previous_comments %}
            <div class="comment">
                <p class="reactive-text-5" style="margin-bottom: 4px;">
                    {{comment.text|markdown}}
                </p>
                <p class="reactive-text-5" style="margin-bottom: 2px; color: rgb(80, 80, 80);">By:
                    <a href="{{url_for('user.user_posts', user_id=(User.query.get_or_404(comment.user_id)).id)}}">
                        {{(User.query.get_or_404(comment.user_id)).username}} 
                    </a> {% if (current_user.is_authenticated and (current_user.id == comment.user_id)) %}
                    <a href="{{url_for('blog_posts.edit_comment', comment_id=comment.id)}}" class="thumbs-up edit" style="margin-left: 8px;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </p>
                <p class="reactive-text-5" style="color: rgb(80, 80, 80);">Posted On: {{comment.date.strftime("%d/%m/%Y")}}</p>
            </div>
            {% endfor %} {% else %}
            <div class="comment">
                <h3 class="reactive-text-3" style="margin-bottom: 64px; margin-top: 48px;">No comments have been posted for this blog</h3>
            </div>
            {% endif %}

            <div style="width: 100%; height: 0.25px; background-color: #151D33;"></div>

            <br><br> {% if current_user.is_authenticated %}
            <form method="post">
                {{form.hidden_tag()}} {{form.text.label(class='form-control-label text-normal-media-small')}}<br> {{form.text(placeholder="Write a Comment", class='form-control form-control-lg form-input-normal text-normal-media-small', style="border:
                none;", rows=6)}}
                <br>
                <div style="vertical-align: middle; margin-bottom: 24px;" class="text-normal-media-small">
                    <div style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; border: 2px solid blue; color: blue; position: relative; top: 2px;" align='center'>
                        <strong style="position: relative; top: -2px; color: blue; font-size: medium;">i</strong>
                    </div>
                    <strong style="color: blue;">NOTE:</strong> You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"> Markdown </a> to add pictures or style your blog text
                </div>
                {{form.submit(class='text-normal-media-small')}}
            </form>
            {% endif %}
            <br>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="del_modal" style="z-index: 100000; top: 25%; max-width: 99vw;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the post</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>

                <form action="{{url_for('blog_posts.delete', blog_post_id=post.id)}}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}