{% extends 'base.html' %} {% block title %} Create Post {% endblock title %} {% block content %}

<div class="container">
    <form class="form-group" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.title.label(class='form-control-label')}}
            <br> {{form.title(class='form-control form-control-lg form-input-normal')}}
        </div>
        <div class="form-group">
            {{form.category.label(class='form-control-label')}}
            <br> {{form.category(class='form-control form-control-lg form-input-normal')}}
        </div>
        <div class="form-group">
            {{form.text.label(class='form-control-label')}}
            <br> {{form.text(class='form-control form-control-lg form-input-normal', rows=8)}}
        </div>
        <div style="vertical-align: middle;">
            <div style="display: inline-block; width: 25px; height: 25px; border-radius: 50%; border: 2px solid blue; color: blue; position: relative; top: 2px;" align='center'>
                <strong style="position: relative; top: -2px; color: blue;">i</strong>
            </div>
            <strong style="color: blue;">NOTE:</strong> You can use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" style="color: white;"> Markdown </a> to style your blog text
        </div>
        <br>
        <div class="form-group">
            {{form.submit}}
        </div>
    </form>
</div>

{% endblock content %}