{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block content %}

<h1 class="reactive-text-1" align='center' style="margin-bottom: 32px;">WELCOME TO BLOG TAP!</h1>

<div class="row" style="display: flex; justify-content: center; margin: 48px 0;">
    <form method="post" style="display: flex; justify-content: center; flex-wrap: nowrap;">
        {{form.hidden_tag()}} {{form.param(placeholder='Search for User/Blog', class="row reactive-text-5", style='border: 2px solid #151D33; border-radius: 12px; padding: 4px 16px')}} {{form.submit(class="row reactive-text-5", style='margin-left: 32px')}}
    </form>
</div>

<div style="min-height: max-content; padding-bottom: 32px;">
    {% if recommended.items %}
    <h3 class="reactive-text-3" style="padding-left: 8px;">Recommended For You:</h3>
    <div class="container card-container" style="display: flex; flex-wrap: wrap;">
        {% for post in recommended.items %}
        <a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}" class="blog-card" style="font-weight: 700;">
            <div class="card-img">
                <div class="img" style="background-image: url({{url_for('static', filename='img/blog_background/'+post.category+'.jpg')}});"></div>
            </div>
            <div class="col-md-12" style="max-height: max-content;">
                <div class="card-body">
                    <h5 class="card-title text-break">
                        {{post.title}}
                    </h5>
                    <p class="card-text" style="margin-bottom: 0;">
                        Author: {{post.author.username}}
                    </p>
                    <p class="card-text" style="padding-top: 0; margin-top: 0; margin-bottom: 0;">Published On: {{post.date.strftime("%d/%m/%Y")}}</p class="card-text">
                    <p class="card-text" style="padding-top: 0; margin-top: 0;">Category: {{post.category}}</p class="card-text">
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div style="min-height: max-content; padding-bottom: 32px;">
    {% if blog_posts.items %}
    <div style="display: flex; justify-content: space-between;">
        <h3 class="reactive-text-3" style="padding-left: 8px;">Blogs:</h3>
        <button type="button" name="button" data-toggle="modal" data-target="#filter_modal" style="width: max-content; height: max-content; background: transparent; border: none;">
            <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
        </button>
    </div>
    <div class="container card-container" style="display: flex; flex-wrap: wrap;">
        {% for post in blog_posts.items %}
        <a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}" class="blog-card" style="font-weight: 700;">
            <div class="card-img">
                <div class="img" style="background-image: url({{url_for('static', filename='img/blog_background/'+post.category+'.jpg')}});"></div>
            </div>
            <div class="col-md-12" style="max-height: max-content;">
                <div class="card-body">
                    <h5 class="card-title text-break">
                        {{post.title}}
                    </h5>
                    <p class="card-text" style="margin-bottom: 0;">
                        Author: {{post.author.username}}
                    </p>
                    <p class="card-text" style="padding-top: 0; margin-top: 0; margin-bottom: 0;">Published On: {{post.date.strftime("%d/%m/%Y")}}</p class="card-text">
                    <p class="card-text" style="padding-top: 0; margin-top: 0;">Category: {{post.category}}</p class="card-text">
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <br>
    <h2 class="reactive-text-3">NO BLOGS HAVE BEEN POSTED YET.</h2 class="reactive-text-3">
    <h3 class="reactive-text-3">BE THE FIRST BLOGGER ON BLOG TAP!</h3 class="reactive-text-3">
    {% endif %}
</div>

<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center" style="margin-bottom: 0; padding-bottom: 32px;">
        {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if blog_posts.page == page_num %}
        <li class="page-item active">
            <a class="page-link active" href="{{url_for('core.index_sorted', page=page_num, sort_val=category_val)}}">{{page_num}}</a>
        </li>
        {% else %} {% if page_num %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('core.index_sorted', page=page_num, sort_val=category_val)}}" style="color: #0CFFA6;">{{page_num}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" aria-disabled="true">...</a>
        </li>
        {% endif %} {% endif %} {% endfor %}
    </ul>
</nav>

<div class="modal" tabindex="-1" role="dialog" id="filter_modal" style="z-index: 100000; top: 25%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sort Blogs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Sort by:</p>
                <form action="{{url_for('core.index_sorted')}}">
                    <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="Popularity" style="display: inline;"> Popularity 
                    </label><br>
                    <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="By Date Asc" style="display: inline;"> By Date - Ascending 
                    </label><br>
                    <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="By Date Dsc" style="display: inline;"> By Date - Descending 
                    </label><br>
                    <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="Alphabetically Asc" style="display: inline;"> Alphabetically - Ascending 
                    </label><br>
                    <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="Alphabetically Dsc" style="display: inline;"> Alphabetically - Descending 
                    </label><br>
                    <!-- <label class="label-mouse-over">
                        <input type="radio" name="sort_val" value="Category" style="display: inline;"> Categorically 
                    </label><br> --><br>

                    <input type="submit" class="btn-normal" value="Sort">
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{url_for('static', filename='script/script-sort.js')}}"></script>
{% endblock content %}