{% extends 'base.html' %} {% block title %} {{user.username}} {% endblock title %} {% block content %}

<div class="container">
    <div align="center">
        <h1>Blogs By: {{user.username}}</h1>
        <img src="{{url_for('static', filename='img/'+user.profile_image)}}" alt="Error! Picture not found.">
    </div>
</div>

{% if blog_posts.items %} {% for post in blog_posts.items %}
<h2><a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">{{post.title}}</a></h2>
<p>Written By: <a href="{{url_for('user.user_posts', username=post.author.username)}}">{{post.author.username}}</a></p>
<p class="text-muted">Published on: {{post.date.strftime('%d/%m/%Y')}}</p>
<p class="text-muted">Category: {{post.category}}</p>
<p>{{post.text}}</p>
<br> {% endfor %}

<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">

        {% for page_num in blog_posts.iter_pages(left_edge=1, right_current=1) %} {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_for('user.user_posts', username=user.username, page=page_num)}}">{{page_num}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('user.user_posts', username=user.username, page=page_num)}}">{{page_num}}</a>
        </li>
        {% endif %} {% endfor %}

    </ul>
</nav>

{% else %}

<h3>Holy Crap!</h3>
<h4>It seems like {{user.username}} has not posted any blogs...</h4>

{% endif %} {% endblock content %}