# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Migrations
migrations/

# Other files and folders
.settings/

# SQLite Database files
*.sqlite

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc