* {
    font-family: 'Lato';
}

.navbar .nav-link-mod,
.navbar .navbar-nav .nav-item .nav-link-mod {
    color: #0CFFA6;
    transition: 0.1s;
}

.navbar .nav-link-mod:hover,
.navbar .navbar-nav .nav-item .nav-link-mod:hover {
    color: rgb(5, 120, 80);
    transform: scale(1.1);
}

.nav-item {
    max-width: fit-content;
}

.navbar-toggler {
    border: none;
    transition: 0.25s;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:hover {
    transform: scaleY(0.8);
}

.card {
    margin: 8px;
    border: 2px solid #151D33;
    border-radius: 8px;
}

input {
    border: none;
    border-bottom: 2px solid #151D33;
    color: #151D33;
    transition: 0.1s;
    font-family: 'Marvel';
    font-size: large;
    font-weight: 800;
    background: transparent;
}

input::placeholder {
    color: #151D33;
}

.form-control {
    font-family: 'Lato';
    font-size: large;
    font-weight: 800;
}

.form-control:focus {
    outline: none;
}

input:focus {
    transform: scale(1.025);
    outline: none;
}

.label-text {
    font-family: 'Lato';
    font-size: large;
    font-weight: 500;
}

input[type=submit],
.btn-normal {
    padding: 8px 16px;
    background-color: #0CFFA6;
    border-radius: 8px;
    transition: 0.1s;
    font-family: 'Lato';
}

input[type=submit]:hover,
.btn-normal:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(10, 190, 125);
}

.form-input-normal {
    font-weight: 400;
    font-family: 'Marvel';
    font-size: large;
}

.form-input-normal:focus {
    transform: scale(1);
    outline: none;
}

.btn-normal {
    margin-right: 16px;
    border: none;
    color: #151D33;
}

.btn-danger,
form .btn-danger,
.btn-cancel {
    transition: 0.1s;
    border-radius: 8px;
    color: #151D33;
    background-color: rgb(250, 60, 60);
}

.btn-danger:hover,
form .btn-danger:hover,
.btn-cancel {
    transform: scale(1.1);
    background-color: rgb(255, 35, 35);
}

.modal-footer .btn-cancel {
    margin: 0 16px;
    background-color: rgb(150, 150, 150);
}

.modal-footer .btn-cancel:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.21);
    color: white;
}

.card-img {
    min-width: 100%;
    min-width: 100%;
    min-height: 200px;
    transition: 1s;
    border-radius: 0;
    overflow: hidden;
    z-index: 100;
}

.blog-card {
    width: 48%;
    min-width: 48%;
    max-width: 48%;
    border-radius: 0;
    border: 2px solid #151D33;
    margin: 8px;
    display: flex;
    background-color: rgb(220, 220, 220);
    transition: 0.25s;
    background-position: center;
    background-size: cover;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    transition: 0.25s;
}

.blog-card:hover {
    transform: scale(1.01);
}

.blog-card:hover .img {
    transform: scale(1.1);
}

.card-container a {
    display: flex;
    flex-direction: column;
}

.card-container a:hover {
    text-decoration: none;
    transform: scale(1.025);
}

.active {
    background-color: #0CFFA6 !important;
    border-color: #0CFFA6 !important;
}

@media(max-width: 990px) {
    .blog-card {
        margin: auto;
        width: 85%;
        min-width: 85%;
        width: 85%;
        margin-bottom: 16px;
    }
    .img {
        min-height: 200px;
    }
    a {
        font-size: small;
    }
}

@media(max-width: 600px) {
    .reactive-text-1 {
        font-size: x-large;
    }
    .reactive-text-3 {
        font-size: large;
    }
    .reactive-text-5 {
        font-size: medium;
    }
}